<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #c{


            height: 100px;
            width: 300px;

        }
          #aa{

            margin-top: 200px;


        }
        #b{

            margin-bottom: 200px;

        }
        button{
            background-color:orange;
        }



  </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://www.pennlive.com/resizer/uXFCY5X1O6FRV1-sYosSD9LHQ2o=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.pennlive.com/home/penn-media/width2048/img/patriot-news/photo/2013/04/the-circular-dining-room-at-the-hotel-hershey-e6b6d3072a67e275.jpg">
<div id="l">

{% include 'nav.html' %}

<div id="aa">
  <center>

    <a href="http://127.0.0.1:8000/foodhut_app/vegupload/"><button id="c">ADD VEGITARIAN</button></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="http://127.0.0.1:8000/foodhut_app/nonupload/"><button id="c">ADD NONVEGITARIAN</button></a>
  </center>
</div>

{% include 'foot.html' %}
</div>

</body>
</html>